@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(https://weloveiconfonts.com/api/?family=entypo);

body, html {
    height: 100%;
    font-family: 'Myriad Pro Bold', sans-serif;
    overflow-x: hidden;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgb(219, 219, 219);
    margin-left: -15px;
    width: 103%;
}

@media (min-width: 992px) {
    #navigation-bar {
        display: none!important;
    }

    #header{
        padding-top: 12%!important;
        height: 80%!important;
    }
}

@media (min-width: 768px) {
    #statistics {
        height: 200px!important;
    }
}

@media (max-width: 768px) {
    #findus .imagen-mapa{
        width: inherit;
    }
}

@media (min-width: 1600px) {

    #header #easy{
        padding-top: 10px!important;
    }
}

@media (max-width: 1380px) {

    #header #easy{
        padding-top: 50px!important;
    }
}

@media (max-width: 1110px) {

    #header #easy{
        padding-top: 70px!important;
    }
}

@media (max-width: 1199px) {

    #news .news-principal-description{
        margin-top: 0px!important;
    }


    #testimony .carousel-indicators{
        bottom: 0px!important;
    }
}




/*SOCIAL MEDIA BAR*/

#social-sidebar {
	right: 0;
	position: fixed;
    top: 30%;
    z-index: 99;
}
#social-sidebar li:first-child img { border-top-left-radius: 5px; }
#social-sidebar li:last-child img { border-bottom-left-radius: 5px; }
 
#social-sidebar img {
	background: rgba(255, 255, 255, 0.877);
	color: #fff;
    text-decoration: none;
	display: block;
	height: 50px;
	width: 50px;  
	font-size: 24px;
	line-height: 50px;
	position: relative;
	text-align: center;
    cursor: pointer;
}
 
#social-sidebar img:hover,
#social-sidebar img span,
#social-sidebar img span:before {background: #8f9192;}

/* NAVBAR */

.navbar {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dedede;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
}

.navbar .navbar-nav .nav-link {
    color: #ED1C24;
}

.navbar .navbar-nav .nav-link a:active{
    text-decoration: underline!important;
}

.navbar .navbar-nav .nav-link:hover {
    color: rgb(75, 23, 23);
}

.navbar-toggler-icon {
    color: #ED1C24;
}

/*HEADER*/

#header {
    background: url(../img/principal.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    align-items: center;
    min-height: 750px;
    padding-top: 25%;
    padding-left: 50px;
    padding-right: 50px;
}


#header h1 {
    color: rgb(145, 145, 145);
    font-size: 26px;  
}

#header h2 {
    color: rgb(145, 145, 145);
    font-size: 16px;
}

#header .header-right {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: -1px 15px 30px -12px black;
    opacity: 0.85;
    width: 100%;
    min-width: 360px;
    max-width: 500px;
}

#header #cotizar{
    background-color: #ED1C24;
    opacity: 1;
}

#header .header-right div .question{
    color: rgb(41, 38, 38);
    text-align: right;
}

#header .header-right div .comeback{
    color: #ED1C24;
    text-align: right;
}

#header a {
    color: #ED1C24;
    font-size: 12px;
}

#header a:hover {
    color: rgb(75, 23, 23);
}

#automovil {
    padding-left: 50px;
    padding-right: 50px;
}

#automovil span {
    color:#ED1C24;
    font-size: 28px;
}

#automovil .slide-container {
    margin: auto;
    width: 100%;
    text-align: center;
}

#automovil .carousel-indicators li {
    padding-top: 5px;;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background-color: #ED1C24;
  }

#automovil .clash-card {
    background: white;
    border-radius: $border-radius-size + 5;
    position: relative;
    text-align: left;
    box-shadow: -1px 15px 30px -12px black;
    margin-bottom: 35px;
    margin-left: 30px;
}

#automovil .clash-card__image {
    background-color: #ED1C24;
    position: relative;
    height: 100px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
}

#automovil .clash-card__level {
    margin-left: 20px;
}

#automovil .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#automovil .slick-prev {
    left: 100px;
    z-index: 999;
}

#automovil .slick-next {
    right: 100px;
    z-index: 999;
}

#automovil .automovil-space{
    padding-top: 4%;
}

#automovil p{
    color:grey;
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#automovil .p-secundario{
    color:black;
    font-size: 13px;
    margin-bottom: 0px;
    margin-left: 20px;
}


#automovil .estrellas-secundarias{
    margin-left: 5px; 
    margin-top: 2.7rem;
}

#automovil .carousel{
    padding: 20px;
}

#automovil .carousel-indicators{
    bottom: -50px;
}

#automovil .imagen{
    width: 100%;
}

#automovil label {
    color:black;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: -5px;
}

#automovil .label-secundario {
    color:black;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: -5px;
}

/*** testimonios ***/

#testimony {
    padding-left: 50px;
    padding-right: 50px;
}

#testimony span {
    color:#ED1C24;
    font-size: 28px;
}

#testimony .slide-container {
    margin: auto;
    width: 100%;
    text-align: center;
}

#testimony .carousel-indicators li {
    padding-top: 5px;;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background-color: #ED1C24;
  }

#testimony .clash-card {
    background: white;
    border-radius: $border-radius-size + 5;
    position: relative;
    text-align: left;
    box-shadow: -1px 15px 30px -12px black;
    margin-bottom: 35px;
    margin-left: 30px;
}

#testimony .clash-card__image {
    background-color: #ED1C24;
    position: relative;
    height: 100px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
}

#testimony .clash-card__level {
    margin-left: 20px;
}

#testimony .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#testimony .slick-prev {
    left: 100px;
    z-index: 999;
}

#testimony .slick-next {
    right: 100px;
    z-index: 999;
}

#testimony .testimony-space{
    padding-top: 4%;
}

#testimony p{
    color:grey;
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#testimony .p-secundario{
    color:black;
    font-size: 13px;
    margin-bottom: 0px;
    margin-left: 20px;
}


#testimony .estrellas-secundarias{
    margin-left: 5px; 
    margin-top: 2.7rem;
}

#testimony .carousel-indicators{
    bottom: -50px;
}

#testimony .imagen{
    width: 100%;
}

#testimony label {
    color:black;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: -5px;
}

#testimony .label-secundario {
    color:black;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: -5px;
}

#news {
    background-color: rgba(231, 231, 231, 0.788);
    padding-left: 50px;
    padding-right: 50px;
}

#news .content{
    padding-left: 50px;
    padding-right: 50px;
}

#news .news-space{
    padding-top: 4%;
}

#news .news-space-bottom{
    padding-top: 2%;
}

#news span {
    color:rgb(116, 116, 116);
    font-size: 28px;
}

#news label {
    color:black;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: -5px;
}

#news .label-medio {
    color:black;
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: -5px;
}

#news p {
    color:rgb(116, 116, 116);
    font-size: 13px;
    margin-left: 25px;
    margin-top: 20px;
    text-align: justify;
}

#news a {
    color:white;
    font-size: 10px;
    left:0;
    bottom:0;
    position: absolute;
    margin-left: 14px;
}

#news #readMore {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#news img{
    width: inherit;
}

#news .row-space{
    margin-top: 10px;
}

#news .img-background{
    background: url(../img/noticia_principal-min.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    align-items: center;
    width: 116%;
}

#news .img-background a{
    margin-left: 0px;
}

#news .news-principal-description{
    margin-top: -100px;
}

#patrimonial {
    padding-left: 50px;
    padding-right: 50px;
}

#patrimonial span {
    color:#ED1C24;
    font-size: 28px;
}

#patrimonial .slide-container {
    margin: auto;
    width: 100%;
    text-align: center;
}

#patrimonial .carousel-indicators li {
    padding-top: 5px;;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background-color: #ED1C24;
  }

#patrimonial .clash-card {
    background: white;
    border-radius: $border-radius-size + 5;
    position: relative;
    text-align: left;
    box-shadow: -1px 15px 30px -12px black;
    margin-bottom: 35px;
    margin-left: 30px;
}

#patrimonial .clash-card__image {
    background-color: #ED1C24;
    position: relative;
    height: 100px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
}

#patrimonial .clash-card__level {
    margin-left: 20px;
}

#patrimonial .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#patrimonial .slick-prev {
    left: 100px;
    z-index: 999;
}

#patrimonial .slick-next {
    right: 100px;
    z-index: 999;
}

#patrimonial .patrimonial-space{
    padding-top: 4%;
}

#patrimonial p{
    color:grey;
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#patrimonial .p-secundario{
    color:black;
    font-size: 13px;
    margin-bottom: 0px;
    margin-left: 20px;
}


#patrimonial .estrellas-secundarias{
    margin-left: 5px; 
    margin-top: 0.7rem;
}

#patrimonial .carousel{
    padding: 20px;
}

#patrimonial .carousel-indicators{
    bottom: -50px;
}

#patrimonial .imagen{
    width: 100%;
}

#patrimonial label {
    color:black;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: -5px;
}

#patrimonial .label-secundario {
    color:black;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: -5px;
}

#footer {
    background: url(../img/pie_de_pagina-min.png) center center no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    align-items: center;
    min-height: 750px;
    padding-top: 2%;
    padding-left: 50px;
    padding-right: 50px;
}

#footer .header-right {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: -1px 15px 30px -12px black;
}

#footer a {
    color: #ED1C24;
    font-size: 12px;
}

#footer a:hover {
    color: rgb(75, 23, 23);
}

#footer h1 {
    color: rgb(145, 145, 145);
    font-size: 18px;  
}

#footer h2 {
    color: rgb(145, 145, 145);
    font-size: 14px;
}

#footer span {
    color: rgb(145, 145, 145);
    font-size: 8px;
    margin-top: 0px;
}

#footer #logo {
    height: 75px;
    width: 180px;
    padding-bottom: 20px;;
}

#footer  #copyright {
    color: rgb(75, 74, 74);
    font-size: 11px;
    margin-top: 0px;
}

#findus-sidebar img:hover {background: #8f9192;}
#findus-sidebar img,
#findus-sidebar img:before {}

/**** CLIENTES *****/


