@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(https://weloveiconfonts.com/api/?family=entypo);

body, html {
    height: 100%;
    font-family: 'Myriad Pro Bold', sans-serif;
    overflow-x: hidden;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgb(219, 219, 219);
    margin-left: -15px;
    width: 103%;
}

@media (min-width: 992px) {
    #navigation-bar {
        display: none!important;
    }

    #testimony .imagen{
        vertical-align: middle;
        border-style: none;
        margin-left: 70%!important;
        margin-top: -10%!important;
    }

    #header{
        padding-top: 12%!important;
        height: 80%!important;
    }
    
}

@media (min-width: 768px) {
    #statistics {
        height: 200px!important;
    }
}


@media screen and (max-width: 600px) {
    #news .img-background .btn{ 
        display:none;
        }
}

@media (max-width: 768px) {
    #findus .imagen-mapa{
        width: inherit;
    }
}

@media (min-width: 1600px) {

    #header #easy{
        padding-top: 10px!important;
    }
}

@media (max-width: 1380px) {

    #header #easy{
        padding-top: 50px!important;
    }
}

@media (max-width: 1110px) {

    #header #easy{
        padding-top: 70px!important;
    }
}

@media (max-width: 1199px) {

    #news .news-principal-description{
        margin-top: 0px!important;
    }
}

@media (min-width: 1848px){
    #news .news-principal-description{
    margin-top: -70px!important;
}
}

@media (max-width: 400px) {
#header{
        background-image: url(../img/principal_400.jpeg);
        background-size: cover;
        background-position: center center;
}
}

@media (max-width: 600px) {
    #header{
            background-image: url(../img/principal_600.jpeg);
            background-size: cover;
            background-position: center center;
    }
}

@media (max-width: 800px) {
    #header{
            background-image: url(../img/principal.jpg);
            background-size: cover;
            background-position: center center;
    }
}

@media (max-width: 1200px) {
    #header{
            background-image: url(../img/home_3500.jpg);
            background-size: cover;
            background-position: center center;
    }
}


/*SOCIAL MEDIA BAR*/

#social-sidebar {
	right: 0;
	position: fixed;
    top: 30%;
    z-index: 99;
}
#social-sidebar li:first-child img { border-top-left-radius: 5px; }
#social-sidebar li:last-child img { border-bottom-left-radius: 5px; }
 
#social-sidebar img {
	background: rgba(255, 255, 255, 0.877);
	color: #fff;
    text-decoration: none;
	display: block;
	height: 50px;
	width: 50px;  
	font-size: 24px;
	line-height: 50px;
	position: relative;
	text-align: center;
    cursor: pointer;
}
 
#social-sidebar img:hover,
#social-sidebar img span,
#social-sidebar img span:before {background: #8f9192;}

/* NAVBAR */

.navbar {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dedede;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
}

.navbar .navbar-nav .nav-link {
    color: #ED1C24;
}

.navbar .navbar-nav .nav-link a:active{
    text-decoration: underline!important;
}

.navbar .navbar-nav .nav-link:hover {
    color: rgb(75, 23, 23);
}

.navbar-toggler-icon {
    color: #ED1C24;
}

/*HEADER*/

#header {
    background-image: url(../img/principal.jpg);
    background-size: cover;
    height: 100%;
    color: white;
    align-items: center;
    min-height: 750px;
    padding-top: 25%;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 100%;
 
}

#header .takecare h1 {
    color: rgb(145, 145, 145);
    font-family: 'Myriad Pro Bold', sans-serif;
    font-size: 56px;
    font-weight: bold;
}

#header h2 {
    color: rgb(145, 145, 145);
    font-family: 'Myriad Pro Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#header #easy h1 {
    color: rgb(145, 145, 145);
    font-family: 'Myriad Pro Bold', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

#header .header-right {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: -1px 15px 30px -12px black;
    opacity: 0.85;
    width: 100%;
    min-width: 360px;
    max-width: 500px;
}

#header #cotizar{
    background-color: #ED1C24;
    opacity: 1;
}

#header .header-right div .question{
    color: rgb(41, 38, 38);
    text-align: right;
}

#header .header-right div .comeback{
    color: #ED1C24;
    text-align: right;
}

#header a {
    color: #ED1C24;
    font-size: 12px;
}

#header a:hover {
    color: rgb(75, 23, 23);
}

#statistics {
    height: 100%;
    background-color: rgba(231, 231, 231, 0.788);
    padding-left: 50px;
    padding-right: 50px;
}

#statistics h1 {
    color: rgb(145, 145, 145);
    font-size: 46px;
    font-weight: bold;  
}

#statistics h2 {
    color: rgb(145, 145, 145);
    font-size: 14px;
}

#statistics .container{
    height: 100%!important;
    width: 100%!important;
}

#statistics .row{
    height: 80%!important;
    width: 100%!important;
}

#header {
    padding-left: 50px;
    padding-right: 50px;
}

#trust span {
    color:#ED1C24;
    font-size: 28px;
}

#trust .trust-space{
    padding-top: 4%;
    padding-right: 50px;
    padding-left: 50px;
}

#trust .trust-titles{
    color: rgb(145, 145, 145);
    font-size: 18px;
}

#trust .trust-descriptions{
    color: rgb(145, 145, 145);
    font-size: 14px;
}

#products {
    background-color: rgba(231, 231, 231, 0.788);
    
}

#products .products-space{
    padding-top: 4%;
}

#products span {
    color:rgb(116, 116, 116);
    font-size: 28px;
}

#products li {
    color:rgb(116, 116, 116);
    margin-left: 25px;
}

#products .products-titles {
    color:#ED1C24;
    font-size: 20px;
    align-items: flex-start!important;
}

#products img{
    width: inherit;
}

#products ul{
    
    padding-bottom: 0px;
}

#findus {
    background-color:white;
    padding-top: 20px;
    
}

#findus .findus-space{
    padding-top: 4%;
    padding-bottom: 2%;
}

#findus span {
    color:#ED1C24;
    font-size: 28px;
    
}

#findus label{
    color:rgb(116, 116, 116);
    margin-left: 25px;
}

#findus .findus-aliados span{
    color:rgb(116, 116, 116);
    font-size: 28px;
}
#findus .findus-aliados div{
    background-color:rgba(231, 231, 231, 0.788);
    padding-bottom: 20px;
}

#findus .clash-card {
    background: white;
    border-radius: $border-radius-size + 5;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    width: 300px;
    margin-top: 250px;
}

#findus .clash-card p{
    margin-bottom: 5px;
}

#findus #card{
    margin-top: 200px;
}

#findus .clash-card-sm {
    background: white;
    border-radius: $border-radius-size + 5;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    margin-bottom: 30px;
}

#findus .clash-card__unit-description {
    padding: 20px;
    margin-bottom: 10px;  
    color:rgb(116, 116, 116);
    font-size: 12px;
}

#findus .titulo{
    color:#ED1C24;
}

#findus .findus-space{
    top: 0% !important;
    padding-top: 4%;
}

#findus-sidebar img{
	left: 0;
    top: 30%;
    z-index: 99;
    margin-left: -15px;
    width: 50px;
}

#findus-sidebar img {
	background: rgba(255, 255, 255, 0.877);
	color: #fff;
    text-decoration: none;
	display: block;
	height: 50px;
	width: 50px;  
	font-size: 24px;
	line-height: 50px;
	position: relative;
	text-align: center;
    cursor: pointer;
}

#findus-map img{
    margin-top: 2%;
    height: 80%;
	width: 80%; 
}

#testimony {
    padding-left: 50px;
    padding-right: 50px;
}

#testimony span {
    color:#ED1C24;
    font-size: 28px;
}

#testimony .slide-container {
    margin: auto;
    width: 100%;
    text-align: center;
}

#testimony .carousel-indicators {
    padding-top: 5px;
  }

#testimony .carousel-indicators li {
    padding-top: 5px;;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background-color: #ED1C24;
  }

#testimony .clash-card {
    background: white;
    border-radius: $border-radius-size + 5;
    position: relative;
    text-align: left;
    box-shadow: -1px 15px 30px -12px black;
    margin-bottom: 35px;
    margin-left: 30px;
    width: 250px;
}

#testimony .clash-card__image {
    background-color: #ED1C24;
    position: relative;
    height: 100px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
}

#testimony .clash-card__level {
    margin-left: 20px;
}

#testimony .clash-card__image .row .name {
    color: rgb(255, 255, 255);
    font-family: 'Myriad Pro Bold', sans-serif;
    font-size: 9px; 
}

#testimony .clash-card__image .row .position {
    color: rgb(255, 255, 255);
    font-family: 'Myriad Pro Bold', sans-serif;
    font-size: 8px; 
}

#testimony .clash-card__unit-description {
    padding: 20px;
    margin-bottom: 10px;  
    color:rgb(116, 116, 116);
    font-size: small;
    text-align: justify;
}

#testimony .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#testimony .slick-prev {
    left: 100px;
    z-index: 999;
}

#testimony .slick-next {
    right: 100px;
    z-index: 999;
}
#testimony .imagen{
    vertical-align: middle;
    border-style: none;
    margin-left: 84%;
    margin-top: -5%;
}

#testimony .imagen-pie{
    vertical-align: middle;
    border-style: none;
    margin-left: 15px;
    margin-top: 10px;
}

#testimony .testimony-space{
    padding-top: 4%;
}

#testimony p{
    color:white;
    font-size: 8px;
    margin-left: 40px;
    margin-bottom: 0px;
}

#testimony .carousel-indicators{
    bottom: -15px;
}

#news {
    background-color: rgba(231, 231, 231, 0.788);
    padding-left: 50px;
    padding-right: 50px;
}

#news .content{
    padding-left: 50px;
    padding-right: 50px;
}

#news .news-space{
    padding-top: 4%;
}

#news .news-space-bottom{
    padding-top: 2%;
}

#news span {
    color:rgb(116, 116, 116);
    font-size: 28px;
}

#news label {
    color:black;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: -5px;
}

#news .label-medio {
    color:black;
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: -5px;
}

#news p {
    color:rgb(116, 116, 116);
    font-size: 13px;
    margin-left: 25px;
    margin-top: 20px;
    text-align: justify;
}

#news a {
    color:white;
    font-size: 10px;
    left:0;
    bottom:0;
    position: absolute;
    margin-left: 14px;
}

#news #readMore a{
    position: unset!important;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#news img{
    width: inherit;
}

#news .row-space{
    margin-top: 10px;
}

#news .img-background{
    background: url(../img/noticia_principal-min.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    align-items: center;
    width: 116%;
}

#news .img-background a{
    margin-left: 0px;
}

#news .news-principal-description{
    margin-top: -100px;
}

#footer {
    background: url(../img/pie_de_pagina-min.png) center center no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    align-items: center;
    min-height: 750px;
    padding-top: 2%;
    padding-left: 50px;
    padding-right: 50px;
}

#footer .header-right {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: -1px 15px 30px -12px black;
    padding: 30px;
    width: 100%;
    min-width: 360px;
    max-width: 500px;
}

#footer .header-right div .question{
    color: rgb(41, 38, 38);
    text-align: right;
}

#footer .header-right div .comeback{
    color: #ED1C24;
    text-align: right;
}

#footer a {
    color: #ED1C24;
    font-size: 12px;
}

#footer a:hover {
    color: rgb(75, 23, 23);
}

#footer h1 {
    color: rgb(145, 145, 145);
    font-size: 18px;  
}

#footer h2 {
    color: rgb(145, 145, 145);
    font-size: 14px;
}

#footer span {
    color: rgb(145, 145, 145);
    font-size: 8px;
    margin-top: 0px;
}

#footer #logo {
    padding-bottom: 20px;
}

#footer  #copyright {
    color: rgb(75, 74, 74);
    font-size: 10px;
    margin-top: 0px;
}

#footer .footer-space{
    padding-top: 4%;
}

#findus-sidebar img:hover {background: #8f9192;}
#findus-sidebar img,
#findus-sidebar img:before {}

/**** CLIENTES *****/


